<div .CommentReplyButton>
    <a href=@{CommentNewR proseid}#comment-form>_{MsgReplyToComment}
<div .Comment>
    $maybe (commentParent, commentForm, _) <- mform
        $if commentParent == proseid
            <div .CommentBox #comment-form>
                ^{commentForm}
    $forall child <- childs
        ^{renderComment rest child Nothing mform}
