$if not $ null conversions
    <div .container>
        <div .panel .panel-default>
            <div .panel-heading>
                <h3 .panel-title>Possible file conversions
            <table .table .table-condensed .table-hover>
                <tbody>
                    $forall (link, text, _, lastSeen) <- conversions
                        $if recent now lastSeen
                            <tr>
                                <td>
                                    <form action=@{link} method=post>
                                        <button .btn .btn-link>
                                            #{text}
                                <td>
                    $forall (link, text, _, lastSeen) <- conversions
                        $if not $ recent now lastSeen
                            <tr>
                                <td>
                                    <form action=@{link} method=post>
                                        <button .btn .btn-link .disabled>
                                            #{text}
                                <td>
                                    (conversion service is offline)
