<div .container>
    <h1>_{MsgHistoryFor title}
    <ol>
        $forall (Value proseid, Value title, Value date) <- versions
            <li>
                <a href=@{ProseR proseid}>#{title}
                #{show date}
