<div .container>
    <form method=post enctype=#{enctype}>
        ^{widget}
        <button .btn .btn-default type=submit name=check value=yes>
            _{MsgCheckTest}
        $if withSave
            <button .btn .btn-default type=submit name=save value=yes>
                _{MsgSaveTest}
