<div .container>
    $maybe title <- mtitle
        $if not $ null title
            <h1>#{title}
    $nothing
        <h1>#{proseTitle prose}
    <p .byline .text-muted>
        <a href=@{WikiEditR currentLang page}>edit
        $forall (Entity _ (Wiki ln _ _)) <- l
            $if currentLang /= ln
                <a href=@{changeLang ln}>
                    #{ln}
        $if lang /= currentLang
            <a href=@{WikiEditR lang page}>
                add #{lang}
    <div>
        #{preEscapedToMarkup $ proseHtmlContent prose}
